<!DOCTYPE html>
<!-- layout:decorator="layout/default-layout - Using the page: default-layout -->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:brewer="rafaelsonego.com"
	layout:decorator="layout/default-layout">
<head>
<title>New Beer</title>

<link rel="stylesheet" type="text/css" th:href="@{/stylesheets/vendors/upload.min.css}" />

</head>
<body>
	<section layout:fragment="content">

		<div class="page-header">
			<div class="container-fluid">
				<div class="row">
					<div class="col-sm-10">
						<h1>New Beer</h1>
					</div>
					<div class="col-sm-2">
						<div class="aw-page-header-controls">
							<a class="btn btn-default" th:href="@{/beer/search}">
								<i class="glyphicon glyphicon-plus-sign"></i>
								<span class="hidden-xs hidden-sm">Search beer</span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="container-fluid">

			<th:block th:include="fragment/messageSuccess"></th:block>

			<form method="POST" th:object="${beer}" class="form-vertical  js-form-loading">

				<th:block th:include="fragment/messageErrorValidation"></th:block>

				<div class="row">
					<div class="col-sm-2  form-group bw-required" brewer:validatefieldhaserror="sku">
						<label for="sku" class="control-label">SKU</label>
						<input id="sku" type="text" class="form-control" th:field="*{sku}" />
					</div>

					<div class="col-sm-10  form-group bw-required" brewer:validatefieldhaserror="name">
						<label for="name" class="control-label">Name</label>
						<input id="name" type="text" class="form-control" th:field="*{name}" />
					</div>
				</div>

				<div class="form-group bw-required" brewer:validatefieldhaserror="description">
					<label for="description" class="control-label">Description</label>
					<textarea id="description" rows="3" class="form-control" th:field="*{description}"></textarea>
				</div>

				<div class="row">
					<div class="col-sm-3 form-group bw-required" brewer:validatefieldhaserror="beerStyle">
						<label for="beerStyle" class="control-label">Style</label>
						<div class="bw-field-action">
							<select id="beerStyle" class="form-control" th:field="*{beerStyle}">
								<option value="">Select a Style</option>
								<option th:each="style : ${listStyle}" th:value="${style.id}" th:text="${style.name}"></option>
							</select>
							<div class="bw-field-action__icon">
								<a href="#" data-toggle="modal" data-target="#style-of-beer-modal">
									<i class="glyphicon glyphicon-plus-sign bw-glyphicon-large"></i>
								</a>
							</div>
						</div>
					</div>

					<div class="col-sm-3 form-group bw-required" brewer:validatefieldhaserror="taste">
						<label for="taste" class="control-label">Taste</label>
						<select id="taste" class="form-control" th:field="*{taste}">
							<option value="">Select a Taste</option>
							<option th:each="taste : ${listTaste}" th:value="${taste}" th:text="${taste.description}"></option>
						</select>
					</div>

					<div class="col-sm-3 form-group bw-required" brewer:validatefieldhaserror="alcoholPercent">
						<label for="alcoholPercent" class="control-label">Alcohol Percent</label>
						<div class="input-group">
							<input id="alcoholPercent" type="text" class="form-control js-decimal" th:field="*{alcoholPercent}" />
							<div class="input-group-addon">%</div>
						</div>
					</div>

					<div class="col-lg-3 col-sm-6 form-group bw-required" brewer:validatefieldhaserror="origin">
						<label for="origin" class="control-label">Origin</label>
						<div>
							<th:block th:each="origin : ${listOrigin}">
								<div class="radio radio-inline">
									<input type="radio" th:id="|id_${origin}|" name="origin" th:value="${origin}" th:field="*{origin}">
									<label th:for="|id_${origin}|" th:text="${origin.description}" class="control-label"></label>
								</div>
							</th:block>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-3 form-group bw-required" brewer:validatefieldhaserror="value">
						<label for="value" class="control-label">Unit Value</label>
						<div class="input-group">
							<div class="input-group-addon">$</div>
							<input id="value" type="text" class="form-control js-decimal" th:field="*{value}" />
						</div>
					</div>

					<div class="col-sm-3 form-group bw-required" brewer:validatefieldhaserror="commission">
						<label for="commission" class="control-label">Commission</label>
						<div class="input-group">
							<input id="commission" type="text" class="form-control js-decimal" th:field="*{commission}" />
							<div class="input-group-addon">%</div>
						</div>
					</div>

					<div class="col-sm-3 form-group bw-required" brewer:validatefieldhaserror="inventory">
						<label for="inventory" class="control-label">Inventory</label>
						<input id="inventory" type="text" class="form-control js-plain" th:field="*{inventory}" />
					</div>
				</div>

				<div class="row">
					<div class="form-group  col-sm-12">
						<input type="hidden" th:field="*{photoName}">
						<input type="hidden" th:field="*{photoContentType}">
						
						<label class="control-label">Photo</label>

						<div class="js-container-beer-photo" th:attr="data-url-photos=@{/photos}">
							<div id="upload-drop" class="bw-upload">
								<i class="glyphicon  glyphicon-cloud-upload"></i>
								<span>Drag the photo here or </span>
								<a class="bw-upload-form-file">
									select one
									<input id="upload-select" type="file" accept=".jpg,.jpeg,.png" />
								</a>
							</div>
						</div>
					</div>
				</div>

				<div class="form-group">
					<button class="btn  btn-primary" type="submit">Save</button>
				</div>

			</form>
		</div>

		<div th:replace="style-of-beer/style-of-beer-modal :: modal"></div>
		<th:block th:replace="handlebars/photoBeer"></th:block>
	</section>

	<th:block layout:fragment="javascript-extra">
		<script th:src="@{/javascripts/beerStyle.newBeerStyle.js}"></script>
		<script th:src="@{/javascripts/vendors/uikit.min.js}"></script>
		<script th:src="@{/javascripts/vendors/upload.min.js}"></script>
		<script th:src="@{/javascripts/vendors/handlebars.min.js}"></script>
		<script th:src="@{/javascripts/beer-upload-photo.js}"></script>
	</th:block>

</body>
</html>