<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/default-layout">
<head>
<title>New Style</title>
</head>

<body>
	<section layout:fragment="content">
		<div class="page-header">
			<div class="container-fluid">
				<h1>New Style</h1>
			</div>
		</div>

		<th:block th:include="fragment/messageSuccess"></th:block>

		<div class="container-fluid">
			<form method="POST" th:object="${beerStyle}" class="form-vertical  js-form-loading">

				<th:block th:include="fragment/messageErrorValidation"></th:block>

				<div class="form-group" th:classappend="${#fields.hasErrors('name')}? has-error">
					<label for="name" class="control-label">Style</label>
					<input id="name" type="text" class="form-control" th:field="*{name}"  />
				</div>

				<div class="form-group">
					<button class="btn  btn-primary" type="submit">Save</button>
				</div>
			</form>
		</div>
	</section>
</body>

</html>