<!DOCTYPE html>
<!-- layout:decorator="layout/default-layout - Using the page: default-layout -->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/default-layout">
<head>
	<title>New Beer</title>
</head>
<body>
	<section layout:fragment="content">

		<div class="page-header">
			<div class="container-fluid">
				<h1>New Beer</h1>
			</div>
		</div>

		<div class="container-fluid">

			<!-- 				<div class="alert  alert-danger  alert-dismissible" role="alert"> -->
			<!-- 					<button type="button" class="close" data-dismiss="alert" -->
			<!-- 						aria-label="Close"> -->
			<!-- 						<span aria-hidden="true">&times;</span> -->
			<!-- 					</button> -->
			<!-- 					<i class="fa  fa-exclamation-circle"></i> -->
			<!-- 					Já existe um produto com o nome informado. -->
			<!-- 				</div> -->

			<form method="POST" th:object="${beer}" class="form-vertical  js-form-loading">

				<div class="row">
					<div class="col-sm-2  form-group">
						<label for="sku">SKU</label>
						<input id="sku" type="text" class="form-control" />
					</div>

					<div class="col-sm-10  form-group">
						<label for="name">Name</label>
						<input id="name" type="text" class="form-control" />
					</div>
				</div>

				<div class="form-group">
					<label for="description">Description</label>
					<textarea id="description" rows="3" class="form-control"></textarea>
				</div>

				<div class="row">
					<div class="col-sm-3 form-group">
						<label for="beerStyle">Style</label>
						<div class="bw-field-action">
							<select id="beerStyle" class="form-control">
								<option value="">Select</option>
							</select>
							<div class="bw-field-action__icon">
								<a href="#" data-toggle="modal" data-target="#style-of-beer-modal">
									<i class="glyphicon glyphicon-plus-sign bw-glyphicon-large"></i>
								</a>
							</div>
						</div>
					</div>

					<div class="col-sm-3 form-group">
						<label for="taste">Select a Taste</label>
						<select id="taste" class="form-control">
							<option value="">Select</option>
						</select>
					</div>

					<div class="col-sm-3 form-group">
						<label for="alcoholPercent">Alcohol Percent</label>
						<div class="input-group">
							<input id="alcoholPercent" type="text" class="form-control js-decimal" />
							<div class="input-group-addon">%</div>
						</div>
					</div>

					<div class="col-lg-3 col-sm-6 form-group">
						<label for="origin">Origin</label>
						<div>
							<div class="radio radio-inline">
								<input type="radio" id="origin" name="origin">
								<label>National</label>
							</div>
							<div class="radio radio-inline">
								<input type="radio" id="origin" name="origin">
								<label>International</label>
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-3 form-group">
						<label for="price">Price</label>
						<div class="input-group">
							<div class="input-group-addon">$</div>
							<input id="price" type="text" class="form-control js-decimal" />
						</div>
					</div>

					<div class="col-sm-3 form-group">
						<label for="commission">Commission</label>
						<div class="input-group">
							<input id="commission" type="text" class="form-control js-decimal" />
							<div class="input-group-addon">%</div>
						</div>
					</div>

					<div class="col-sm-3 form-group">
						<label for="inventory">Inventory</label>
						<input id="inventory" type="text" class="form-control js-plain" />
					</div>
				</div>

				<div class="form-group">
					<button class="btn  btn-primary" type="submit">Save</button>
				</div>

			</form>
		</div>
		
		<div th:replace="style-of-beer/style-of-beer-modal :: modal"></div>
		
	</section>
</body>
</html>